*{
    padding: 0%;
    margin: 0 auto;
    text-decoration: none;
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
}
body{
    background-color: #18181B;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    max-width: 600px;
    margin-bottom: 24px;
}
.container-input{
    max-width: 480px;
    margin: 14px 0;
}
.container-input span{
    color: white;
    font-size: 22px;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background-color: #DFDFDF;
    height: 18px;
    outline: none;
    margin-top: 8px;
}
.button-cta{
   height: 40px;
   background-color: #3EB72B; 
   border: 0;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 40px;
   color: #Ffff;
   font-weight: bold;
   font-size: 18px;

}
.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction:column ;
    cursor: pointer;
}
.title{
    text-align: center;
    color: #fffF;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #fffF;
    border: 1px solid #313131;
    transition: 0.5s;
}
.password:hover{
    transform: scale(1.05);
    
}
.tootiple{
    color: #Ffff;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgb(15,15,15);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.container-password:hover .tootiple{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}
.hide{
    display: none;
}